.box {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "filter"
    "galery"
    "footer"
    ;
}

.header {
    grid-area: header;
    display: flex;
}

.filter {
    grid-area: filter;
    display: flex;
    flex-direction: column;
}

.filteritem {
    display: flex;
}

.galery {
    grid-area: galery;
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
}